@import './custom.scss';
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 40px;
  border-bottom: 1px solid $body-color;
  .logo {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .header-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
}
main {
  text-align: center;
}
.arrow {
  font-size: 3em;
}
.preview {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
}
.zodiac-detail {
  color: white;
  width: 50%;   
}
.section-center {
  margin-top: -100px;
}
.btn-primary {
  border-radius: 20px;
  width: 220px;
}
@include media-breakpoint-down(lg) {
  .arrow {
    font-size: 150px;
  }
  .zodiac-detail {
    width: 100%;   
  }
}
@include media-breakpoint-down(md) {
  .chat-text {
    font-size: 12px!important;
  }
}